body {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

h1.main-header {
    text-align: center;
    color: white;
}

.dankenachricht {
    color: green;
    display: none;
}

.image-container {
    display: flex;
    justify-content: center;
}

.orange-text {
    color: orange;
    text-transform: capitalize;
}

.nav-item>a {
    text-transform: none;
    text-decoration: none;
    color: #d1d8e0;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-item>a:hover {
    color: #a5b1c2;
}

#button-test {
    padding: 10px;
    font-weight: 600;
}

ul#list-navigation {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
}

ul#footer-list {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-content: space-around;
    list-style-type: none;
}

li.footer-item{
    width: 33%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: crimson;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: auto;
}

.box:hover {
    background-color: #45aaf2;
    cursor: pointer;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.box-text {
    margin: auto;
}

.content{
    margin-top: 52px;
    min-height: 80vh;
}

footer {
    width: 100%;
    display: flex;
    bottom: 5px;
    justify-content: center;
    border-top: 1px solid grey;
}

.footer-content {
    text-align: center;
    font-style: italic;
}

.control-container{
    display: ;
}

#starwarsapi{
    display: flex;
    flex-wrap: wrap;
}

.character-container{
    width: 200px;
    margin: 5px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;


}

nav {
    border-bottom: 1px solid grey;
    position: fixed; 
    top: 0px;
    width: 100%;
    background-color: black;
}


.form-field {
display: flex;
flex-direction: column;
align-items: center;
}

.field-label {
color: white;
width: 300px;
text-align: left;
}

.field-input {
    width: 300px;
    margin-top: 5px;
}

.submit-button{
    padding-left:  30px ;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}

.button1{
    background-color: #084c99;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    }
.button1:hover{
    color:white;
    background-color:#0a51a3;
    cursor:pointer;
    }

.control-container{
    color:#00FF00;
    display: flex;
    justify-content: center;

}

.h1.main-header{
    color: #084c99;
}

.dropdown{
    width: 120px;
    position: relative;
}

.dropdown::before {
    content: "/dropdopwn_pfeil.png";
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #fff;
    pointer-events: none;

  }

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    height: 40px;
     -moz-padding-start: calc(10px - 3px);
    padding-left: 10px;
    background: #34495e;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
  }

  select option {
  color: #666;
}

  select::-ms-expand {
    display: none;
  }
  select:focus::-ms-value {
    background-color: transparent;
  }

.table_activities{
    width: 100%;
    height: 70%;
    color: #00FF00;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}
.table_activities td, th{
    border: 1px solid #ddd;
    padding: 8px;
}

#timeDropdown{
    width: 120px;
    position: relative;
}

a{
color: white;
}

a:visited{
    color: white;
}

#wasMachenSachen:hover{
    color: hotpink;
}