body {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

h1.main-header {
    color: blue;
}

.dankenachricht {
    color: green;
    display: none;
}

.image-container {
    display: flex;
    justify-content: center;
}

.orange-text {
    color: orange;
    text-transform: capitalize;
}

.nav-item>a {
    text-transform: none;
    text-decoration: none;
    color: #d1d8e0;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-item>a:hover {
    color: #a5b1c2;
}

#button-test {
    padding: 10px;
    font-weight: 600;
}

ul#list-navigation {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
}

ul#footer-list {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-content: space-around;
    list-style-type: none;
}

li.footer-item{
    width: 33%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: crimson;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: auto;
}

.box:hover {
    background-color: #45aaf2;
    cursor: pointer;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.box-text {
    margin: auto;
}

.content{
    margin-top: 52px;
    min-height: 80vh;
}

footer {
    width: 100%;
    display: flex;
    bottom: 5px;
    justify-content: center;
    border-top: 1px solid grey;
}

.footer-content {
    text-align: center;
    font-style: italic;
}

nav {
    border-bottom: 1px solid grey;
    position: fixed; 
    top: 0px;
    width: 100%;
    background-color: black;
}


.form-field {
display: flex;
flex-direction: column;
align-items: center;
}

.field-label {
color: white;
width: 300px;
text-align: left;
}

.field-input {
    width: 300px;
    margin-top: 5px;
}

.submit-button{
    padding-left:  30px ;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}